@media (prefers-color-scheme:light){
    .toasts .toast {
        color:black;
        background-color:var(--light);
    }
}
@media (prefers-color-scheme:dark){
    .toasts .toast {
        color:white;
        background-color:var(--dark);
    }
}
